<!DOCTYPE html>
<html lang="en">

<head>
	<title>App</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

	<script src="/static/js/jquery-3.1.1.js"></script>
	<script src="/static/js/jquery.ui.widget.js"></script>

	<script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fileupload-ui.js"></script>

	<script>
		$(function () {
			$('#fileupload').fileupload({
				url: 'upload',
				dataType: 'json',
				add: function (e, data) {
					data.submit();
				},
				success: function (response, status) {
					console.log(response.filename);
					var filePath = 'static/Uploads/' + response.filename;
					$('#imgUpload').attr('src', filePath);
					$('#filePath').val(filePath);
					console.log('success');
				},
				error: function (error) {
					console.log(error);
				}
			});
		})
	</script>

	<style>
		.btn-file {
			position: relative;
			overflow: hidden;
		}

		.btn-file input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			min-width: 100%;
			min-height: 100%;
			font-size: 100px;
			text-align: right;
			filter: alpha(opacity=0);
			opacity: 0;
			outline: none;
			background: white;
			cursor: inherit;
			display: block;
		}
		 .logo{
			width: 50px;
		
		} 
		header{
			margin: 30px 20px 100px 20px;
		}
	</style>

</head>

<body>

	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Add Item</a></li>
				</ul>
			</nav>
			<img class="logo"
				src="https://yt3.ggpht.com/9XmuxL_LL7CxAOOlbBgTnJIo2uHpoLKHhWzlPt7O49ULQmvBSJlxk1RpX3pJ8jkRBkD6p9BIRg=s900-c-k-c0x00ffffff-no-rj"
				alt="logo" />
		</div>

		<form role="form" method="post" action="{{url_for('create')}}">

			<!-- Form Name -->
			<legend>Create Your Blog Post</legend>

			<!-- Text input-->
			<div class="form-group">
				<label for="txtTitle">Title</label>

				<input id="txtTitle" name="inputTitle" type="text" placeholder="placeholder" class="form-control input-md">

			</div>

			<!-- Textarea -->
			<div class="form-group">
				<label for="txtPost">Description</label>

				<textarea class="form-control" id="txtPost" name="inputDescription"></textarea>

			</div>

		

			<!-- Button -->
			<div class="form-group">

				<p class="text-center">
					<input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Post" />
				</p>
			</div>


		</form>

	
	</div>
</body>

</html>