{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Firstname:</td>
            <td>{{ account['firstname'] }}</td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td>{{ account['lastname'] }}</td>
        </tr>
        <tr>
            <td>companyname:</td>
            <td>{{ account['companyname'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}