<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LinkedIn</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>LinkedIn</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<label for="firstname">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="text" name="firstname" placeholder="firstname" id="firstname" required>
				<label for="lastname">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="text" name="lastname" placeholder="lastname" id="lastname" required>
				<label for="companyname">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="companyname" name="companyname" placeholder="companyname" id="companyname" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>